<!DOCTYPE html>
<html>
<head>
<title>User Dashboard | Owner & Administrator Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawCharts);

      function drawCharts() {

        var task_data = google.visualization.arrayToDataTable([
          ['Task Type', 'Task Count'],
          ['Active',     {{active_tasks}}],
          ['Cancelled',  {{cancelled_tasks}}],
          ['Completed',  {{completed_tasks}}]
        ]);

        var user_data = google.visualization.arrayToDataTable([
          ['User Role', 'User Count'],
          ['User',     {{num_users}}],
          ['Helper',   {{num_helpers}}],
          ['Admin',    {{num_admins}}],
          ['Owner', 1]
        ]);

        var task_chart_options = {
          title: 'Tasks by Status',
          backgroundColor: "rgb(241, 241, 241)",
          is3D: true
        };

        var user_chart_options = {
          title: 'Users by Role',
          backgroundColor: "rgb(241, 241, 241)",
          is3D: true
        };

        var task_chart = new google.visualization.PieChart(document.getElementById('taskchart'));
        var user_chart = new google.visualization.PieChart(document.getElementById('userchart'));

        task_chart.draw(task_data, task_chart_options);
        user_chart.draw(user_data, user_chart_options);
      }
    </script>
</head>
<body class="w3-light-grey">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-bar">
            <span>Welcome, <strong>{{current_user.username}}</strong></span><br>
            <span class="w3-bar-item w3-left"><a href="/logout">Log Out</a></span>
        </div>
    </div>
    <hr>
    <div class="w3-container">
        <h5>System Statistics</h5>
    </div>
    <div class="w3-bar-block">
        <a href="" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <a href="/dashboard" class="w3-bar-item w3-button w3-padding"><i class="fa fa-dashboard fa-fw"></i>  Dashboard</a>
        <a href="/view-tasks" class="w3-bar-item w3-button w3-padding"><i class="fa fa-tasks fa-fw"></i>  Tasks</a>
        <a href="/view-users" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Users</a>
        <a href="/statistics" class="w3-bar-item w3-button w3-padding w3-green"><i class="fa fa-bar-chart fa-fw"></i>  Statistics</a>
        <a href="/export-tasks" class="w3-bar-item w3-button w3-padding"><i class="fa fa-database fa-fw"></i>  Database</a>
    </div>
</nav>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;"><!-- ;margin-top:43px-->

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
        <h5><b><i class="fa fa-bar-chart"></i> System Statistics</b></h5>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <div class="w3-panel w3-gray w3-display-container">
                    <p>{{message}}</p>
                    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-display-topright">&times;</span>
                </div>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="w3-row-padding w3-margin-bottom">
        <a href="/"><div class="w3-rest w3-border">
            <div class="w3-container w3-green w3-padding-16">
                <div class="w3-left"><i class="fa fa-dashboard w3-xxxlarge"></i></div>
                <div class="w3-right">
                    <h3></h3>
                </div>
                <div class="w3-clear"></div>
                <h4>Dashboard</h4>
            </div>
        </div></a>
    </div>


    <hr>
    <div class="w3-row">
    <div class="w3-container w3-center">
        <div class="w3-container w3-padding-16">
            <div class="w3-row">
                <div class="w3-twothird">
                    <div id="taskchart" style="width: 100%; height: 500px;"></div>
                </div>
            <div class="w3-onethird">
                <h2>Tasks</h2>
                    <div class="w3-margin-bottom">
                        <a href="/view-tasks"><div class="w3-rest w3-border">
                        <div class="w3-container w3-green w3-padding-16">
                            <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i><h4>View All Tasks</h4></div>
                        </div>
                    </div></a>
                    <div class="w3-margin-bottom">
                        <a href="/create-task"><div class="w3-rest w3-border">
                        <div class="w3-container w3-green w3-padding-16">
                            <div class="w3-left"><i class="fa fa-wpforms w3-xxxlarge"></i><h4>Create New Task</h4></div>
                        </div>
                    </div></a>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-twothird">
                    <div id="userchart" style="width: 100%; height: 500px;"></div>
                </div>
                <div class="w3-onethird">
                <h2>Users</h2>
                    <div class="w3-margin-bottom">
                        <a href="/view-users"><div class="w3-rest w3-border">
                        <div class="w3-container w3-green w3-padding-16">
                            <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i><h4>View All Users</h4></div>
                        </div>
                    </div></a>
                    <div class="w3-margin-bottom">
                        <a href="/add-user"><div class="w3-rest w3-border">
                        <div class="w3-container w3-green w3-padding-16">
                            <div class="w3-left"><i class="fa fa-user-plus w3-xxxlarge"></i><h4>Create New User</h4></div>
                        </div>
                    </div></a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <br>
    <div class="w3-container w3-dark-grey w3-padding-32">
        <div class="w3-row">
            <div class="w3-container w3-third">
                <h5 class="w3-bottombar w3-border-green">Pages</h5>
                <p><a href="/logout">Log Out</a></p>
                <p><a href="/">Dashboard</a></p>
            </div>
            <div class="w3-container w3-twothird">
                <h5 class="w3-bottombar w3-border-green">About</h5>
                <p>Developed by lefkovitzj&emsp;-&emsp;Available Under Open Source (MIT) License</p>
                <p><a href="https://github.com/lefkovitzj/">View the Source Code!</a></p>
            </div>
        </div>
    </div>

</div>

<script>
// Get the Sidebar
var mySidebar = document.getElementById("mySidebar");

// Get the DIV with overlay effect
var overlayBg = document.getElementById("myOverlay");

// Toggle between showing and hiding the sidebar, and add overlay effect
function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
        overlayBg.style.display = "none";
    } else {
        mySidebar.style.display = 'block';
        overlayBg.style.display = "block";
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
    overlayBg.style.display = "none";
}
</script>

</body>
</html>
